<div class="header">
  <div class="content" style="display: flex;">
    <div class="header__container-logo">
      <a href="#">
        <img class="header__logo" src="/img/header/ZakaZaka_Logo.svg" alt="logo">
      </a>
    </div>

    <div class="header__container-search">
      <input class="header__search" type="text" placeholder="Search">
    </div>

    <div class="header__container-authentication" *ngIf="!userLogin; else login" >
      <a class="header__sign-in" (click)="authorization(true, false)">Sign in</a>
      <a class="header__register" (click)="authorization(false, true)">Sign up</a>
    </div>
    <ng-template #login>
      <div style="margin: auto 0;">
        Hello, {{userName}}
      </div>
      <div class="header__container-authentication">
        <a class="header__register" (click)="logOut()">Log Out</a>
      </div>
    </ng-template>
  </div>
</div>
<div class="header-bottom">
  <div class="content header-bottom__content">
    <div class="header-bottom__text">Where to deliver food?</div>
    <div class="header-bottom__container-address">
      <div class="header-bottom__city">
        Lviv
      </div>
      <input class="header-bottom__street" type="text" placeholder="Specify the street">
      <input class="header-bottom__house" type="text" placeholder="House">
      <button class="header-bottom__find" type="submit">Find a restaurant</button>
    </div>
    <button class="header-bottom__find-mobile" type="submit">Find a restaurant</button>
  </div>
</div>
<authorization [showSignIn]="showSignIn" [showSignUp]="showSignUp"
               (closeAuthorization)="authorization(false, false)"
               (changeAuthorizationForm)="changeAuthorizationForm()" (isUserLogin)="setIsLogin($event)"></authorization>
