.content-slider {
  width: 100%;
  position: relative;
  max-height: 500px;
}
.slide{
  width: 100%;
}
.content-slider__container {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.content-slider__slide {
  display: inline-block;
  min-width: 100%;
  max-height: 450px;
  margin: 0 auto;
  transition-duration: 1s;
}
.content-slider__container-dot {
  display: flex;
  justify-content: center;
}
.content-slider__dot-button {
  width: 15px;
  height: 15px;
  background: #d4d4d4;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  cursor: pointer;
}
.dot-button__active {
  background: #898989;
}

.content-slider__switch-next,
.content-slider__switch-prev {
  position: absolute;
  top: 43%;
  right: -50px;
  cursor: pointer;
  color: #000;
}
.content-slider__switch-prev {
  left: -50px;
}
@media (max-width: 1270px) {
  .content-slider__switch-next {
    right: 0;
  }
  .content-slider__switch-prev {
    left: 0;
  }
  .content-slider__switch-next,
  .content-slider__switch-prev{
    color: #fff;
  }
}
@media (max-width: 991px) {
  .content-slider__dot-button {
    margin: 5px 2px 0 2px;
  }
  .content-slider {
    max-height: 450px;
  }
  .content-slider__slide {
    max-height: 430px;
  }
}
@media (max-width: 771px) {
  .content-slider {
    max-height: 350px;
  }
  .content-slider__slide {
    max-height: 300px;
  }
  .content-slider__switch-next,
  .content-slider__switch-prev {
    top: 39%;
  }
}
@media (max-width: 551px) {
  .content-slider {
    max-height: 300px;
  }
  .content-slider__slide {
    max-height: 215px;
  }
}
@media (max-width: 401px) {
  .content-slider {
    max-height: 250px;
  }
  .content-slider__slide {
    max-height: 183px;
  }
  .content-slider__container-switch svg {
    width: 35px;
    height: 35px;
    top: 34%;
  }
}
