.header {
  width: 100%;
  background: #f5f5f5;
}
.header__container-logo {
  margin-right: 50px;
}
.header__logo {
  height: 60px;
  width: 180px;
  fill: #fe8f33;
}
.header__container-search {
  width: 240px;
  display: flex;
  margin: 0 auto;
}
.header__search {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #dedfe4;
  padding: 6px 10px;
  margin: auto;
  outline: none;
  background: #fff url(/img/header/search.svg) no-repeat 200px 7px;
}
.header__container-authentication {
  display: flex;
  margin: auto 0 auto auto;
}
.header__sign-in,
.header__register {
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.header__sign-in:hover,
.header__register:hover {
  background: #8cd6ad;
  color: #fff;
}
.header__sign-in {
  color: #fe8f33;
  margin-right: 15px;
  border: 1px solid #dedfe4;
  padding: 9px 20px;
}
.header__register {
  background: #fe8f33;
  padding: 9px 44px;
}
.header-bottom {
  width: 100%;
  background: #fe8f33;
  height: 60px;
  margin-bottom: 15px;
}
.header-bottom__content {
  display: flex;
  height: 100%;
}
.header-bottom__text {
  color: #fff;
  font-size: 20px;
  margin: auto 0 auto 20%;
}
.header-bottom__container-address {
  display: flex;
  margin: auto 0 auto 24px;
}
.header-bottom__city,
.header-bottom__street,
.header-bottom__house {
  background: #fff;
  outline: none;
  padding: 7px 15px;
  max-height: 28px;
  border: 1px solid #fff;
}
.header-bottom__city {
  border-radius: 50px 0 0 50px;
  cursor: pointer;
}
.header-bottom__street {
  border-left: 1px solid #dedfe4;
  border-right: 1px solid #dedfe4;
  border-bottom: 0;
  border-top: 0;
}
.header-bottom__house {
  border-radius: 0 50px 50px 0;
  width: 50px;
}
.header-bottom__street:focus,
.header-bottom__house:focus {
  border: 1px solid #8cd6ad;
}
.header-bottom__find,
.header-bottom__find-mobile {
  background: #8cd6ad;
  color: #fff;
  border-radius: 50px;
  padding: 3px 22px;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-bottom__find-mobile {
  display: none;
}
@media (max-width: 1270px) {
  .header-bottom__content {
    display: block!important;
  }
  .header-bottom__text {
    padding-top: 2px;
    margin: 0 0 5px 0 ;
  }
  .header-bottom {
    height: 85px;
    text-align: center;
  }
  .header-bottom__container-address {
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 771px) {
  .header-bottom__find {
    display: none;
  }
  .header-bottom__find-mobile {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px auto 0 auto;
  }
  .header-bottom {
    height: 125px;
  }


}
@media (max-width: 551px) {
  .header-bottom__city,
  .header-bottom__street,
  .header-bottom__house{
    padding: 7px 12px;
  }
}
