<div class="content">
  <slider></slider>

  <div class="category">
    <div class="category__title">
      Select categories
    </div>
    <div class="category__tiles">
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/all-food.png" alt="All food">
          <div class="category__tile-title">
            All food
            <div class="category__food-icon all-food"></div>
          </div>
        </a>
      </div>
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/sushi.png" alt="Sushi">
          <div class="category__tile-title">
            Sushi
            <div class="category__food-icon sushi"></div>
          </div>
        </a>
      </div>
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/pizza.png" alt="Pizza">
          <div class="category__tile-title">
            Pizza
            <div class="category__food-icon pizza"></div>
          </div>
        </a>
      </div>
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/shashlik.png" alt="Shashlik">
          <div class="category__tile-title">
            Shashlik
            <div class="category__food-icon shashlik"></div>
          </div>
        </a>
      </div>
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/pie.png" alt="Pie">
          <div class="category__tile-title">
            Pie
            <div class="category__food-icon pie"></div>
          </div>
        </a>
      </div>
      <div class="category__tile">
        <a class="category-tile-item" href="#">
          <div class="category__tile-shadow"></div>
          <img class="category__tile-img" src="/img/home/burger.png" alt="Burger">
          <div class="category__tile-title">
            Burger
            <div class="category__food-icon burger"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="instruction">
  <div class="content">
    <div class="instruction__title">
      Instruction
    </div>
    <div class="instruction__steps">
      <div class="instruction__item step-one__mobile">
        <div class="instruction__item-img step-one">

        </div>
        <div class="instruction__item-title">
          Indicate your area
        </div>
        <div class="instruction__item-note">
          You will see restaurants ready to delivery you delicious food
        </div>
      </div>
      <div class="instruction__item step-two__mobile">
        <div class="instruction__item-img step-two">

        </div>
        <div class="instruction__item-title">
          Chose the best restaurant
        </div>
        <div class="instruction__item-note">
          See the rating, read reviewers or sort by you chosen criterion
        </div>
      </div>
      <div class="instruction__item">
        <div class="instruction__item-img step-three">

        </div>
        <div class="instruction__item-title">
          Check out the menu
        </div>
        <div class="instruction__item-note">
          And place an order in just a couple of clicks
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reasons">
  <div class="content">
    <div class="reasons__title">
      3 reasons to love us
    </div>
    <div class="reasons__container">
      <div class="reasons__reason pizza-and-nothing">
        <div class="reasons__reason-title">
          Pizza and nothing more?
        </div>
        <div class="reasons__reason-note">
          Together with us you <br> know that there are many cool places <br> with delicious food near your home.
        </div>
      </div>

      <div class="reasons__reason no-calls">
        <div class="reasons__reason-title">
          No calls
        </div>
        <div class="reasons__reason-note">
          You don't have to dictate anymore <br> your street and phone number <br> several time
        </div>
      </div>

      <div class="reasons__reason points">
        <div class="reasons__reason-title">
          Profitable than direct
        </div>
        <div class="reasons__reason-note">
          Collect points and exchange for <br> free meals
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mobile">
  <div class="content" style="position: relative;">
    <div class="mobile__title">
      Order through the app <br> even easier!
    </div>
    <div class="mobile__note">
      <span>3000+ restaurants in your pocket. Download for free.</span>
      <br> You already have 700 bonus points in your account.
    </div>
    <div class="mobile__downloads-app">
      <a href="#">
        <img class="mobile__app-store" src="/img/home/app-link-store.png" alt="app store">
      </a>
      <a href="#">
        <img src="/img/home/app-link-play.png" alt="play store">
      </a>
    </div>
    <img class="mobile__preview" src="/img/home/mobile-app.png" alt="mobile app">
  </div>
</div>

