.footer {
  padding: 50px 0;
}
.footer__content {
  display: flex;
}
.footer__right,
.footer__left {
  width: 50%;
  box-sizing: border-box;
}
.footer__right-title {
  font-size: 14px;
  position: relative;
}
.footer__logo {
  position: absolute;
}
#many-restaurants {
  font-weight: 600;
  color: #4f555d;
}
#rights-reserve {
  font-size: 13px;
  color: #959595;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  list-style: none;
  padding: 0;
}
.footer__nav-list li {
  font-size: 14px;
  color: #4f555d;
  line-height: 25px;
}
.footer__nav-list li a:hover {
  color: #fe8f33;
}
.nav-list-first {
  width: 50%;
}
.footer__left-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__left-info a:hover {
  color: #fe8f33;
}
.footer__left-info:hover {
  color: #fe8f33;
}
.footer__left-info::before {
  content: "";
  width: 33px;
  height: 33px;
  margin-right: 10px;
  display: block;
  background: url(/img/footer/gift.png) no-repeat;
}
.footer__left-socials {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #7b7b7c;
  margin-left: 10px;
}
.footer__social:hover {
  border: 1px solid #fe8f33;
}
.instagram::before,
.twitter::before,
.facebook::before,
.vk::before {
  content: "";
  display: block;
}
.instagram::before {
  width: 16px;
  height: 16px;
  background: url("/img/footer/instagram-footer.png") no-repeat;
  background-size: 16px 16px;
}
.twitter::before {
  width: 21px;
  height: 16px;
  background: url("/img/footer/twitter-footer.png") no-repeat;
  background-size: 21px 16px;
}
.facebook::before {
  width: 10px;
  height: 19px;
  background: url("/img/footer/facebook-footer.png") no-repeat;
  background-size: 10px 19px;
}
.vk::before {
  width: 19px;
  height: 12px;
  background: url("/img/footer/vk-footer.png") no-repeat;
  background-size: 19px 12px;
}
.footer__left-write-us {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
.footer__left-write-us span {
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 991px) {
  .footer__nav {
    display: block;
  }
  .footer__nav-list {
    width: 50%;
    margin: 0 auto;
  }
  .nav-list-first {
    margin-bottom: 20px;
  }
}
@media (max-width: 551px) {
  .footer__content {
    display: block;
  }
  .footer__left {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__right {
    width: 100%;
  }
}
@media (max-width: 401px) {
  .footer__nav-list {
    min-width: 160px;
  }
}
