.hunger {
  width: 100%;
  padding: 50px 0;
}
.hunger__title,
.hunger__note {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hunger__title {
  font-size: 32px;
}
.hunger__title::before {
  content: "";
  width: 19px;
  height: 22px;
  display: block;
  margin-right: 15px;
  background: url("/img/home/hourglass.png") no-repeat;
}
.hunger__note {
  color: #8d8d8d;
  padding-bottom: 50px;
}
.hunger__cuisines {
  display: flex;
}
.hunger__cuisine {
  width: 16.66%;
  font-weight: 600;
  color: #333;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.hunger__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.3s;
}
.hunger__link:hover {
  color: #fe8f33;
}
@media (max-width: 771px) {
  .hunger__cuisines {
    display: block;
  }
  .hunger__cuisine {
    float: left;
    width: 33%;
  }
}
@media (max-width: 401px) {
  .hunger__title {
    flex-direction: column;
  }
  .hunger__cuisine {
    width: 50%;
  }
}
