<div class="menu">
  <div class="menu__item">
    <div class="menu__dish">
      <div class="menu__img">
        <img src="1dish.jpg" alt="">
      </div>
      <div class="menu__title">
        <div class="menu-title-title">
          Tanuki-yam
        </div>
        <div class="menu__ingredients--mobile">
          fdsf, dasdas, eqweqwe, efgfss, ggwwww, rw fdsf, dasdas, eqweqwe, efgfss, ggwwww, rwas dads, das
          dasda,,, dadsadsadasdsa
        </div>
      </div>
      <div class="menu__sub-title">
        <i class="coins menu__coins"></i> 5 $
      </div>
      <button class="menu__butt-order">
        To order
      </button>
    </div>

    <div class="menu__magnifying">
      <div class="menu__dish">
        <div class="menu__img">
          <img src="1dish.jpg" alt="">
        </div>
        <div class="menu__title">
          <div class="menu__title-magnify">
            Tanuki-yam
          </div>
          <div class="menu__ingredients">
            fdsf, dasdas, eqweqwe, efgfss, ggwwww, rw
          </div>
        </div>
        <div class="menu__sub-title">
          <i class="coins menu__coins"></i> 5 $
        </div>
        <button class="menu__butt-order">
          To order
        </button>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
