<div class="basket content">
  <!--
<div class="basket__nothing-in-cart">
  <img src="no-image.png" alt="no-image">
  <div>
      Unfortunately, there in nothing in your shop the cart. <br> Try to add dishes from the <a href="">catalog</a>
  </div>
</div>-->
  <aside class="basket__left">
    <div class="basket__rst">
      <div class="basket__name-publisher">
        <a href="#">Tanuki</a> <i class="basket__cancel"></i>
      </div>
      <div class="basket__product">
        <div class="basket__name-product">
          <img src="kanuki.jpg" alt="">
          <p>Tanuki-yam</p>
        </div>
        <div class="basket__count-product">
          <i class="basket__count-button button-minus"></i>
          <div class="basket__count">
            1
          </div>
          <i class="basket__count-button button-plus"></i>
        </div>
        <div class="basket__price-product">
          <span>45$</span> <i class="basket__cancel"></i>
        </div>
      </div>
    </div>
  </aside>
  <aside class="basket__right">
    <div class="registration">
      <div class="registration__title">
        Registration
      </div>
      <div class="registration__form">
        <input class="registration__input" type="text" placeholder="First Name">
        <input class="registration__input" type="text" placeholder="Phone">
        <input class="registration__input" type="text" placeholder="Street">
        <div class="registration__house">
          <div class="registration__house-container">
            <input class="registration__address" type="text" placeholder="House">
          </div>
          <div class="registration__house-container">
            <input class="registration__address" type="text" placeholder="Corps">
          </div>
          <div class="registration__house-container">
            <input class="registration__address" type="text" placeholder="Flat">
          </div>
        </div>
        <textarea class="registration__comment" rows="5" placeholder="Comment"></textarea>
        <div class="registration__chose-payment">
          <label><input type="radio" name="payment" checked>Cash</label>
          <label><input type="radio" name="payment">By card to the courier </label>
        </div>
        <div class="registration__order">
          Order
        </div>
      </div>
    </div>
  </aside>
</div>

